{{!-- Everything inside the #author tags pulls data from the author --}}
{{#primary_author}}

<section class="author">
    {{#if profile_image}}
        <img class="author image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
    {{else}}
        <span class="avatar-wrapper">{{> "icons/avatar"}}</span>
    {{/if}}
    <section class="author content">
        <h4 class="author name"><a href="{{url}}">{{name}}</a></h4>
        {{#if bio}}
            <p>{{bio}}</p>
        {{/if}}
        <a class="author more" href="{{url}}">Read more</a>
    </section>
</section>

{{/primary_author}}
